
body {
    background-color: rgb(0, 0, 0);
  }
  
  #board {
    width: 1200px;
    height: 600px;
    border: 10px solid white;
    background-color: black;
    position: relative;
    /*margin: auto;*/
    top: 200px;
    left: 20%;
  }
  
  .paddle {
    background-color: rgb(255, 255, 255);
    height: 200px;
    position: absolute;
    border-radius: 15px;
    top: 200px;    /* Uncomment if you want to set a "starting" position */
  }

  #paddleR {

    left: 1160px;
    width: 30px;
  }

  #paddleL {

    left: 10px;
    width: 30px;
  }

  #title {

    font-size: 80px;
    font-family: sans-serif;
    color: rgb(120, 120, 120);
    left: 370px;
    top: 60px;
    position: absolute;
    font-style: bold;
  }

  .score {

    color: rgb(170, 170, 170);
    font-family: sans-serif;
    font-size: 200px;
    margin: auto;
    top: 180px;
    position: absolute;
  }

  #score1 {

    left: 45px;
  }

  #score2 {

    left: 1045px;
  }

  .ball {

    height: 30px;
    width: 30px;
    top: 270px;
    left:570px;
    position: relative;
    border-radius: 50%;
  }

  #ball1 {

    background-color: rgb(255, 255, 255);
  }

  #ball2 {

    background-color: rgb(180, 180, 180);
  }