
body {
    background-color: rgb(0, 0, 0);
  }
  
  #board {
    width: 1200px;
    height: 600px;
    border: 10px solid white;
    background-color: black;
    position: relative;
    margin: auto;
    top: 200px;
  }
  
  .paddle {
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 200px;
    position: absolute;
    border-radius: 15px;
    top: 200px;    /* Uncomment if you want to set a "starting" position */
  }

  #paddleR {

    left: 1160px;
  }

  #paddleL {

    left: 10px;
  }

  #title {

    font-size: 80px;
    font-family: sans-serif;
    color: rgb(126, 126, 126);
    left: 50px;
    top: 30px;
    position: absolute;
    font-style: bold;
  }

  .score {

    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin: auto;
    top: 180px;
    position: absolute;
  }

  #score1 {

    left: 400px;
  }

  #score2 {

    left: 1400px;
  }

  #ball {

    height: 30px;
    width: 30px;
    background-color: white;
    top: 270px;
    left:570px;
    position: relative;
    border-radius: 50%;
  }